.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 50px;

  @media (min-width: 992px) {
    top: 25px;
  }
}

.navbar {
  background-color: transparent;
  transition: all 0.5s ease-in-out;

  >.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-collapse {
    height: auto !important;

    @media (max-width: 991px) {
      background: $color-black;
      width: 250px;
      position: fixed;
      top: 0;
      right: -250px;
      height: auto;
      transition: all 200ms ease-in-out;
      z-index: 1;
      padding: 20px;
      padding-top: 83px;

      &.show {
        right: 0;
      }
    }
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }


  .navbar-toggler {
    height: 16px;
    width: 23px;
    cursor: pointer;
    padding: 0;
    border: 0;
    background: red;
    outline: 0;
    box-shadow: none;
    z-index: 9;

    @media (min-width: 992px) {
      display: none;
    }
  }

  .nav-link {
    font-size: rem(14);
    margin: 0;
    font-weight: bold;
    line-height: normal;
    color: #fff;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -1px;
      left: 0;
      background-color: $color-red;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover,
    &.active {
      &:after {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    @media (max-width: 991px) {

      &:hover,
      &.active {
        color: #fff;
      }

      padding: 15px 0;
      border-bottom: 1px solid #19212d;
      font-size: rem(18);
      font-weight: 300;
    }

    @media (min-width: 992px) {
      margin: 0 25px;

      &:after {
        height: 3px;
        bottom: -3px;
      }
    }

  }

  &.sticky {
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.14);
    padding: 15px 0;

    .navbar-collapse {
      @media (max-width: 991px) {
        padding-top: 63px;
      }
    }
  }

  @media (min-width: 992px) {
    flex-wrap: nowrap;
    padding: 25px 0;

    &.sticky {
      padding: 19px 0px 18px 0;
      top: 0;

      .nav-link {
        color: $color-gray;

        &:hover,
        &.active {
          color: $color-red;
        }
      }
    }
  }

}